//
// These are basic font-sizes for your media-queries.
// Change to your liking
//

$type-scale: (
  small: (
    200: 0.64rem,
    300: 0.8rem,
    400: 1rem,
    500: 1.125rem,
    600: 1.563rem,
    700: 1.953rem,
    800: 2.441rem,
  ),
  large: (
    200: 0.8rem,
    300: 1rem,
    400: 1.125rem,
    500: 1.563rem,
    600: 1.953rem,
    700: 2.441rem,
    800: 3.052rem,
  ),
);
