//
// These are basic breakpoints for your media-queries.
// Change to your liking
//

$breakpoints: (
  small: 40em,
  medium: 65em,
  large: 90em,
  tablet: 768,
  desktop: 1024,
  large-desktop: 1280,
);
